<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <div class="pt-5 pb-5">
        <ui:insert name="content">
            Shop content
        </ui:insert>
    </div>
</ui:composition>
