<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small class="text-light">
                <ui:insert name="footer">
                    Neoflex
                </ui:insert>
            </small>
        </div>
    </footer>
</ui:composition>
