<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <div class="container">
        <header class="pt-1">
            <h4>
                <ui:insert name="title">
                    Shop
                </ui:insert>
            </h4>
        </header>
    </div>
</ui:composition>
