<ui:composition
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
>
    <h:form>
        <p:panel header="PrimeFaces Hello World Example">
            <h:panelGrid columns="2" cellpadding="4">
                <h:outputText value="First Name: "/>
                <p:inputText value="#{greetingService.firstName}"/>

                <h:outputText value="Last Name: "/>
                <p:inputText value="#{greetingService.lastName}"/>

                <p:commandButton value="Submit" update="greeting"
                                 oncomplete="PF('greetingDialog').show()"/>
            </h:panelGrid>
        </p:panel>

        <p:dialog header="Greeting" widgetVar="greetingDialog"
                  modal="true" resizable="false">
            <h:panelGrid id="greeting" columns="1" cellpadding="4">
                <h:outputText value="#{greetingService.showGreeting()}"/>
            </h:panelGrid>
        </p:dialog>
    </h:form>
</ui:composition>
