<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ul>
        <li>
            <h:link value="Shop" outcome="shop" />
        </li>
        <li>
            <h:link value="Cart" outcome="cart" />
        </li>
        <li>
            <h:link value="Orders" outcome="orders" />
        </li>
    </ul>

    <hr/>
    Products
    <ul>
        <li>
            <h:link value="Create" outcome="productCreate" />
        </li>
    </ul>
</ui:composition>
