<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html">

    <div class="container">
        <div class="alert alert-dark">
            <h:messages id="errors"
                        infoStyle="color: blue;"
                        warnStyle="color: orange;"
                        errorStyle="color: red;"/>
        </div>
    </div>
</ui:composition>
