<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
>
<h:head>
    <title><ui:insert name="title">Shop</ui:insert></title>
    <link href="#{request.contextPath}/assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</h:head>
<h:body>
    <ui:include src="../inc/messages.xhtml"/>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <ui:include src="../inc/content.xhtml"/>
            </div>

            <div class="col-md-3">
                <ui:include src="../inc/header.xhtml"/>

                <ui:include src="../inc/menu.xhtml"/>
            </div>
        </div>
    </div>

    <ui:include src="../inc/footer.xhtml"/>

    <!--<script src="#{request.contextPath}/assets/libs/bootstrap/js/jquery-3.2.1.slim.min.js"></script>-->
    <!--<script src="#{request.contextPath}/assets/libs/bootstrap/js/bootstrap.min.js"></script>-->
    <!--<script src="#{request.contextPath}/assets/libs/bootstrap/js/popper.min.js"></script>-->
</h:body>
</html>
