<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
>
<ui:composition template="layouts/app.xhtml">
    <f:metadata>
        <f:viewAction action="#{productBean.availableList}"/>
    </f:metadata>

    <ui:define name="title">Cart</ui:define>
    <ui:define name="content">
        <h:form prependId="false">
            <table border="1" cellpadding="2" cellspacing="2" class="table">
                <tr>
                    <th>Option</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Sub Total</th>
                </tr>
                <ui:repeat var="item" value="#{cartBean.items}">
                    <tr>
                        <td align="center">
                            <h:commandLink value="X" action="#{cartBean.delete(item.product)}"></h:commandLink>
                        </td>
                        <td>#{item.product.id}</td>
                        <td>#{item.product.name}</td>
                        <td>#{item.product.price}</td>
                        <td>#{item.qty}</td>
                        <td>#{item.product.price * item.qty}</td>
                    </tr>
                </ui:repeat>
                <tr>
                    <td colspan="5" align="right">Total</td>
                    <td>#{cartBean.total()}</td>
                </tr>
            </table>

            <br/>
            <br/>

        </h:form>

        <div class="container">
            <div class="raw">
                <div class="col-md-6">
                    <h:link value="Continue purchases"
                            outcome="shop"
                            styleClass="btn btn-outline-dark"/>
                </div>
                <div class="col-md-6">
                    <h:form prependId="false">
                        <h:commandButton value="Order Now!"
                                         action="#{orderBean.create(cartBean)}"
                                         type="submit"
                                         styleClass="btn btn-success"
                                         rendered="#{!cartBean.items.isEmpty()}"/>
                    </h:form>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>
</html>
