<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
>
<ui:composition template="layouts/app.xhtml">
    <f:metadata>
        <f:viewAction action="#{productBean.availableList}"/>
    </f:metadata>

    <ui:define name="title">Shop</ui:define>
    <ui:define name="content">
        <ui:include src="products/filter.xhtml"/>

        <p:dataTable id="productsTable"
                     value="#{orderBean.all}"
                     var="order"
                     styleClass="table"
        >
            <p:column>
                <h:outputText value="#{order.id}/#{order.createdAt}"/>
            </p:column>
            <p:column>
                <ui:include src="products/table.xhtml">
                    <ui:param name="products" value="#{order.products}" />
                </ui:include>
            </p:column>

        </p:dataTable>
    </ui:define>
</ui:composition>
</html>
