<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
>
<ui:composition template="layouts/app.xhtml">
    <f:metadata>
        <f:viewParam name="id" value="#{productBean.currentProduct.id}"/>
        <f:viewAction action="#{productBean.findByById}"/>
    </f:metadata>

    <ui:define name="title">
        View Product
    </ui:define>

    <ui:define name="content">
        <h4>
            <h:outputText value="#{productBean.currentProduct.name}"/>
        </h4>

        <ui:include src="products/table.xhtml">
            <ui:param name="products" value="#{productBean.currentProduct}"/>
            <ui:param name="canAddToCart" value="false"/>
            <ui:param name="showPagination" value="false"/>
        </ui:include>

        <div class="alert alert-light">
            <h:outputText value="#{productBean.currentProduct.body}"/>
        </div>
    </ui:define>
</ui:composition>
</html>
