<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
>
<ui:composition template="layouts/app.xhtml">
    <ui:define name="title">Product Craete</ui:define>
    <ui:define name="content">

        <h:form id="productForm">
            <h:panelGrid columns="2" styleClass="table">
                <f:facet name="header">
                    <h:message for="name"/>
                    <br/>
                    <h:message for="price"/>
                    <br/>
                    <h:message for="body"/>
                </f:facet>

                <h:outputLabel value="Name :"/>
                <h:inputText id="name" value="#{productBean.newProduct.name}"/>

                <h:outputLabel value="Price : "/>
                <h:inputText id="price" value="#{productBean.newProduct.price}" converter="bigDecimalConverter">
                </h:inputText>

                <h:outputLabel value="Body :"/>
                <h:inputText id="body" value="#{productBean.newProduct.body}"/>
            </h:panelGrid>
            <h:commandButton
                    value="Create a product"
                    action="#{productBean.create}"
                    styleClass="btn btn-success"
            />
        </h:form>
    </ui:define>
</ui:composition>
</html>
