<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
>
<ui:composition template="layouts/app.xhtml">
    <f:metadata>
        <f:viewAction action="#{productBean.availableList}"/>
    </f:metadata>

    <ui:define name="title">Shop</ui:define>
    <ui:define name="content">
        <ui:include src="products/filter.xhtml"/>
        <ui:include src="products/table.xhtml">
            <ui:param name="products" value="#{productBean.productList}" />
            <ui:param name="canAddToCart" value="true" />
            <ui:param name="showPagination" value="true" />
        </ui:include>
    </ui:define>
</ui:composition>
</html>
