<ui:composition
        xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
>
    <i class="badge">Filter</i>

    <h:form>
        <table class="table">
            <tr>
                <td>
                    <h:outputLabel value="Name:"/>
                </td>
                <td style="width: 30px;">
                    <h:outputLabel value="Price From:"/>
                </td>
                <td style="width: 30px;">
                    <h:outputLabel value="Price To:"/>
                </td>
            </tr>
            <tr>
                <td>
                    <h:inputText id="name" value="#{productBean.criteria.name}"/>
                </td>
                <td>
                    <!--<h:inputText id="priceFrom" value="#{productBean.criteria.priceFrom}">-->
                    <h:inputText id="priceFrom" value="#{productBean.criteria.priceFrom}" converter="bigDecimalConverter">
                        <!--<f:convertNumber pattern="#0.000"/>-->
                    </h:inputText>
                </td>
                <td>
                    <!--<h:inputText id="priceTo" value="#{productBean.criteria.priceTo}">-->
                    <h:inputText id="priceTo" value="#{productBean.criteria.priceTo}" converter="bigDecimalConverter">
                        <!--<f:convertNumber pattern="#0.000"/>-->
                    </h:inputText>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <div class="btn-group-justified">
                        <h:commandButton value="Search" action="#{productBean.search}"/>
                        <h:commandButton value="Clear" action="#{productBean.clear}"/>
                    </div>
                </td>
            </tr>
        </table>
    </h:form>
    <hr/>
</ui:composition>
