<ui:composition
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui"
>
    <p:dataTable id="productsTable"
                 value="#{products}"
                 var="product"
                 styleClass="table"
                 paginator="#{showPagination}"
                 rows="20"
                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                 currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}"
                 rowsPerPageTemplate="5,10,15"

    >
        <p:column>
            <h:graphicImage value="#{product.photo}"/>
        </p:column>
        <p:column>
            <h:link value="#{product.name}" outcome="productView">
                <f:param name="id" value="#{product.id}"/>
            </h:link>
        </p:column>
        <p:column>
            <f:facet name="header">+</f:facet>

            <h:form rendered="#{canAddToCart}">
                <h:commandButton value="$#{product.price}"
                                 action="#{cartBean.addToCart(product)}"
                                 type="submit"
                                 styleClass="btn btn-dark"/>
            </h:form>

            <h:outputText value="$#{product.price}" rendered="#{!canAddToCart}"/>
        </p:column>
    </p:dataTable>
</ui:composition>
